<div class="row">
    <div class="col-6 offset-3">
        <form action="" [formGroup]="editForm" (ngSubmit)="onSubmit($event)">
            <div class="form-group">
                <label for="">Tên tác giả</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger">
                <div *ngIf="f.name.errors?.required">
                    Nhập tên tác giả
                </div>
                <div *ngIf="f.name.errors?.minLength">
                    Tên tác giả không dưới 4 ký tự
                </div>
            </div>
            <div class="text-center">
                <button [disabled]="editForm.invalid" class="btn btn-success">
                    Lưu
                </button>
            </div>
        </form>
    </div>
</div>